.ipynb_checkpoints/
/data/
logs/
data_backup/
__pycache__/
lightning_logs/
ccad-labs-summaries
toy_label
toy_tokenizer_artifacts
/models/
ehs/
desc_gen_dataset/
vdb/
figures
overlay-51200M-1000K.ext3
overlay-512000M-15000K.ext3